# Simple Linear Regression

In [12]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.animation as FuncAnimation
import matplotlib.axes as axes
from sklearn.model_selection import train_test_split

In [4]:
# Load iris data set and show the first five rows of the data
df = pd.read_csv('data_for_lr (1).csv')
df.head()

      x          y
0  24.0  21.549452
1  50.0  47.464463
2  15.0  17.218656
3  38.0  36.586398
4  87.0  87.288984

In [7]:
# Stastical describion of the data
df.describe()

                 x           y
count   700.000000  699.000000
mean     54.985939   49.939869
std     134.681703   29.109217
min       0.000000   -3.839981
25%      25.000000   24.929968
50%      49.000000   48.973020
75%      75.000000   74.929911
max    3530.157369  108.871618

In [17]:
df = df.dropna()

In [22]:
# separate the data into tran and test datas
x_train = np.array(df.x[0:500]).reshape(500,1)
y_train = np.array(df.y[0:500]).reshape(500,1)

x_test = np.array(df.x[500:700]).reshape(199,1)
y_test = np.array(df.y[500:700]).reshape(199,1)